<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %t %-5level [%logger{36}] - %m%n"/>
        </Console>

        <File name="File" fileName="test.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %t %-5level [%logger{36}] - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="File"/>
        </Root>
        <logger name="org.esni.siskin_core" level="trace" additivity="true">
            <appender-ref ref="Console"/>
        </logger>
    </Loggers>
</Configuration>